main {
  padding-left: 330px;
}
body {
  background-color: lightgray;
}
.sidenav-trigger {
  display: none;
}

.card-title{
  margin: 0 0 20px -30px;
  background-color: white;
  padding: 10px 10px 10px 30px;
  box-shadow: 2px 1px 2px #868585;
}

/*Default style table*/
.table {
  background-color: white;
  padding: 5px;
  box-shadow: 2px 1px 2px #868585;
  margin: -10px 20px auto auto;
}
.table-title {
  margin: -5px;
  padding: 10px;
  font-size: 14pt;
}

@media only screen and (max-width : 992px) {
  main{
    padding-left: 0;
  }

  .sidenav-trigger {
    display: initial;
  }
}