main {
  padding-left: 300px;
}
body {
  background-color: lightgray;
}
.sidenav-trigger {
  display: none;
}

@media only screen and (max-width : 992px) {
  main{
    padding-left: 0;
  }

  .sidenav-trigger {
    display: initial;
  }
}